.comic-thumb{
  background-color: lightgrey;
  width: 250px;
  margin: 10px;
}

.thumb{
  align-items: center;
  max-width: 150px;
}

.breadcrumb {
  background-color: white;
  text-align: center;
}
.price-condition {
  background-color: lightgrey;
  border-radius: 5px;
  max-width: 100%;
}
h1 {
  text-align: center;
  font-weight: normal;
}

h3 {
  text-align: center;
  font-weight: normal;
}

.profile {
  height: 500px;

}
