<div class="container">
  <h1>Made with love, By: Netzel & Contreras</h1>
  <br>
  <div class="row">
    <div class="col-lg-8">
      <img class="hand" src="/assets/images/hand.jpg">
    </div>
    <div class="col-lg-4">
      <h3>We are junior developers living in Portland, OR.<br>
        Contact us through GitHub</h3>
    </div>
  </div>
</div>
