<div class="page-header">
  <h1>C O M I C S W A P</h1>
  <ol class="breadcrumb">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>{{#link-to 'sellers'}}Sellers{{/link-to}}</li>
    <li>{{#link-to 'cart'}}Shopping Cart{{/link-to}}</li>
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
  </ol>
</div>

<div class="container">
{{outlet}}
</div>
