<div class="page-header">
  <h1>C O M I C S W A P</h1>
  <ol class="breadcrumb">
    <li>{{#link-to 'index'}}Home{{/link-to}}</li>
    <li>Sellers</li>
    <li>Shopping Cart</li>
    <li>About</li>
  </ol>
</div>

<div class="container">
{{outlet}}
</div>
